.App {
  text-align: center;

}

.field {
  display: block;
  margin-bottom: 10px;
}

.field label {
  display: inline-block;
  width: 80px;
  text-align: right;
  color: #3a3a3a;
  margin-right: 5px;
}

.field input {
  display: inline-block;
  width: calc(100% - 86px);
}

